.projects {

    &__wrapper {
        row-gap: 20px;
        grid-template-columns: 40%;
        // grid-template-rows: 15% 80% 5%; 
        grid-template-rows: 8% 85% 10%;

        @media (max-width:$screen-xxl) {
            grid-template-columns: 50%;
        }
        
        @media (max-width:$screen-xl) {
            grid-template-columns: 45%;
        }

        @media (max-width:$screen-lg) {
            grid-template-columns: 100%;
        }


        @media (max-width: $screen-md) and (max-height: $screen-sm) {
            padding-bottom: 15px;
            grid-template-rows: 15% 80% 1%;
        }

        

        @media (max-height: $screen-sm) and (max-width: $screen-md) {
            grid-template-rows: 15% 67% 21%;
        }

       


    }
}

.project {
    cursor: pointer;

    &__img-container {
        @media (max-height: $screen-sm) and (max-width: $screen-md) {
        max-width: 80%;
        }

        @media (max-height: $screen-sm) and (max-width: $screen-lg) {
            max-width: 45%;
        }
        
        
    }

    

    &__img {
        max-width: 100%;
        max-height: none;
    }

    // &__img-container:hover + &__info-container,
    // &__info-container:hover {
    //     bottom: 0;
    // }

    &__info {
        &-container {
            position: absolute;
            bottom: -125%;
            width: 100%;
            height: 100%;
            display: grid;
            border-radius: 4px;
            background: rgba(255,255,255,.75);
            backdrop-filter: blur(10px);
            transition: .3s;
            // justify-content: center;
            align-items: center;
            cursor: default;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "header header"
            "stack description"
            "server github";

            @media (max-height: $screen-sm) and (max-width: $screen-md) {
                max-width: 80%;
            }
        
            @media (max-height: $screen-sm) and (max-width: $screen-lg) {
                max-width: 45%;
            }

            &--opened {
                bottom: 0;
            }

        }

    }



    &__link {
        padding: 0;
        margin: 10%;
        border: 1px solid;
        display:flex;
        justify-content: center;
        cursor: pointer;
        transition: .1s linear;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
            background-color: $color-selection;
        }
    }

    &__button-close {
        font-size: 2em;
    }


    &__header-container {
        grid-area: header;
        display: grid;
        grid-template-columns: 75% 25%;
        align-items: center;
    }

  
    &__stack {
        grid-area: stack;

        &-list {
            // grid-column: span 2;
            // grid-row: span 2;
            align-self: baseline;
            
            &:last-child {
                grid-column: span 2;
            }
        }

       
    }

    &__server {
        grid-area: server;
        

    }

    &__github {
        grid-area: github;

    }

    &__description {
        grid-area: description;
       
        &-text {
            grid-column: span 2;
            text-align: justify;

            &:last-child {
                text-align: right;
            }

            &:nth-of-type(2):has(+ &:nth-of-type(3)) {
                text-align: justify;
            }
        }

        &-study {
            display: flex;
            justify-content: space-between;
        }

    }
}

// приделать стрелки вместо кнопок, и сделать чтобы нельзя было управлять клавиатурой и колесом мыши 