
:root {
    --swiper-theme-color: #353434;
}

.swiper {
    width: 100%;
    height: 100%;
    

    &-slide {
        flex-direction: column; 
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background: #fff;
        display: flex;

    }


    &-pagination__before-it,
    &-pagination__after-it,
    &-pagination__projects {
        position: static;
        z-index: 4;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);

        // @media (min-width: $screen-sm) {
        //     margin-top: 20px;
        // }
    }

    &-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
    }

    
}




.section-swiper {
    flex-direction: column;
    justify-content: center;

    &__wrapper {
        row-gap              : 10px;
        grid-template-columns: 51%;
        display              : grid;
        justify-content      : center;
        justify-items        : center;
        align-items          : center;
        width                : 100%;
        grid-template-rows   : 8% 90% ;

        @media(min-height: $screen-md) {
            grid-template-rows: 15% 90% 60px;
        }
   
        @media (max-width: $screen-xl) {
            grid-template-columns: 60%;
            
        }

        @media (max-width: $screen-lg) {
            grid-template-columns: 100%;
        }

        @media (max-height: $screen-sm) {
            row-gap: 5px;
            grid-template-rows   : 8% 90% ;
        }

        @media (max-width: 600px) and (max-height: $screen-sm) {
            row-gap: 0px;
            grid-template-rows: 7% 88% 25px;
        }
    

       
        
    }

    &__title-container {
        display: flex;

    }


    &__title {
        @media (max-width: $screen-sm) {
           text-align: center;
        }

        @media (max-width: 600px) and (max-height: $screen-sm) {
            font-size: $font-size-h2 - 1rem;
        }

    }
    
    &__subtitle {
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 25px;
        font-size: $font-size-h3 ;

        @media (max-width: $screen-lg) {
            margin-left : 30px;
            margin-right: 30px;
        }

        @media (max-width: $screen-sm) {
            margin-left : 10px;
            margin-right: 10px;
         }
    }

    &__text-container {
        width: 100%;
    }

    &__text {
        padding: 0.5%;
    }

    &__img {
        display: block;
        max-width: 400px;
        max-height: 400px;
        height: auto;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
    

        @media screen and (max-width: $screen-md) {
            max-width: 280px;
        }

        @media screen and (max-width: $screen-sm) {
            max-width: 190px;
        }

        @media (max-width: $screen-md) and (max-height: $screen-sm), (min-width: $screen-md) and (max-height: $screen-sm) {
            max-width: 230px;
        }

        @media (max-width: 600px) and (max-height: $screen-sm) {
            max-width: 180px;
        }
        

    }

}

