.intro {
    display              : grid;
    grid-template-columns: 25% 45%;
    justify-content      : center;
    justify-items        : center;
    align-items          : center;
    position             : absolute;
    top                  : 50%;
    transform            : translateY(-50%);
    width                : 100%;
    left                 : 0;



    @media (max-width: $screen-xxl) {
        grid-template-columns: 30% 45%;
    }

    @media (max-width: $screen-xl) {
        grid-template-columns: 40% 45%;
    }

    @media (max-width: $screen-lg) {
        grid-template-columns: repeat(2, 40%);
    }

    @media (max-width: $screen-md) {
        grid-template-columns: repeat(2, 45%);
    }

    &__img-container {
        grid-row: span 2;

        @media (max-width: $screen-lg) {
            grid-row     : span 1;
            grid-column  : span 2;
            display      : grid;
            justify-items: center;
            max-width    : 350px;
        }

        @media (max-width: $screen-sm) {
            max-width: 30dvh;
        }

        @media (max-height: 600px) and (min-width: $screen-lg) {
            grid-column: 1;
            grid-row   : 1;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            grid-column: 2;
            max-width    : 300px;
        }

        @media (min-width: $screen-sm) and (max-height: $screen-md) {
            max-width    : 270px;
        }
    }

    &__img {
        max-width: 100%;
        clip-path: circle(45% at 48% 48%);
    }
    
    &__title-container {
        padding: 0 5%;

        @media (max-width: $screen-lg) {
            grid-row     : 2;
            grid-column  : span 2;
            display      : grid;
            justify-items: center;
            text-align   : center;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            grid-row   : 1;
            grid-column: span 1;
        }
    }

    &__title {
        font-weight   : 400;
        font-size     : $font-size-h1;
        line-height   : $line-height-h1-h2;
        letter-spacing: $letter-spacing-h1-h2;
        color         : $color-main;
    }

    &__subtitle {
        margin-top    : 5%;
        font-weight   : 400;
        font-size     : $font-size-h2;
        line-height   : $line-height-h1-h2;
        letter-spacing: 0.04em;
        color         : $color-main;


        &--gray {
            color: $color-secondary;
        }

        @media (max-width: $screen-lg) {
            margin-top : 2%;
        }
    }

    &__text-container {
        margin-top : 2%;
        grid-column: 2;

        @media (max-width: $screen-lg) {
            grid-row   : 4;
            grid-column: span 2;
            display    : grid;
            grid-template-columns: 50% 50%;
        }

        @media (max-width: $screen-md) {
            margin-top: 5%;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            grid-column: span 2;
        }

    }

    &__text {
        font-size     : $font-size-text;
        line-height   : $line-height-text;
        letter-spacing: $letter-spacing-text;
        color         : $color-main;
        padding       : 2% 5%;

        @media (max-width: $screen-lg) {
            padding: 3% 3%;
        }

        @media (max-width: $screen-sm) {
            padding: 1% 5%;
        }

    }

    &__link {
        font-weight    : 400;
        font-size      : $font-size-text;
        line-height    : $line-height-text;
        letter-spacing : $letter-spacing-text;
        color          : $color-link;
        text-decoration: none;
    }

    &__pointer {
            opacity: 0.9;
            vertical-align:top;
            margin-left: 5px;
            margin-bottom: 5px;
            transition: $transition-common;
            font-size: $font-size-h2;
            color: $color-link;
            user-select: none;

            &:hover {

            }
        }
}

