.section:has(.projects__wrapper) {
    height: 100dvh;
}


.projects {

    &__wrapper {
        display              : grid;
        justify-content      : center;
        justify-items        : center;
        align-items          : center;
        width                : 100%;

        row-gap: 20px;
        grid-template-columns: 50%;
        grid-template-rows: 87.5% 12.5%; // the picture will fill the whole available area without breaking the proportions

        @media (max-width:$screen-xxl) {
            grid-template-columns: 70%;
        }
        
        @media (max-width:$screen-xl) {
            grid-template-columns: 80%;
        }

        @media (max-width:$screen-lg) {
            grid-template-columns: 100%;
        }

        @media (max-width:$screen-sm) {
            grid-template-rows: 80.5% 19.5%;
        }

        @media (max-height: $screen-sm) {
            grid-template-columns: 75%
        }

    }

    &__navigation {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;
        align-items: center;

        &-buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        button {

            &:is(:hover, :focus-visible):not(:disabled) {
                background: $color-selection;
                outline: none;
              }

            
        }



        &-button {
            width: 115px;
            height: 35px;
            border: 1px solid;
            cursor: pointer;
            font-size: 1.5rem;
            padding: 2px;
            background: transparent;
            transition: background-color .3s linear;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);

            @media screen and (max-width: $screen-xl) {
                width: 87px;
                height: 25px;
            }
            @media screen and (max-width: $screen-sm) {
                font-size: 2rem;
                width: 77px;
                height: 22px;
            }

            
        }

        &-button--active {
            background: $color-selection;
            outline: none;
        }
    }
}

.project {
    cursor: pointer;

    &__button-close {

        &::before {
            cursor: pointer;
            transition: border 0.5s ease-in;
        }  
        
    }

    &__img-container {
        height: 100%;
        width: 100%;
    }

    

    &__img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }



    &__info {
        &-container {
            position: absolute;
            bottom: -125%;
            width: 100%;
            height: 100%;
            display: grid;
            background: rgba(255,255,255,.80);
            backdrop-filter: blur(10px);
            transition: bottom .3s ease;
            align-items: center;
            cursor: default;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "header header"
            "stack description"
            "server github";

            &--opened {
                bottom: 0;
            }

        }

    }

    &__link {
        padding: 0;
        margin: 10%;
        border: 1px solid;
        display:flex;
        justify-content: center;
        cursor: pointer;
        transition: transform .1s linear, background-color .1s linear;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
            background-color: $color-selection;
        }
    }

    &__button-close {
        font-size: 2em;
    }


    &__header-container {
        grid-area: header;
        display: grid;
        grid-template-columns: 75% 25%;
        align-items: center;
        border: 1px solid;
        border-left: none;
        border-right: none;

        h5 {
            font-weight: 700;
            text-decoration: solid;
        }
    }

  
    &__stack {
        grid-area: stack;

        &-list {
            align-self: baseline;
            
            &:last-child {
                grid-column: span 2;
            }
        }

       
    }

    &__server {
        grid-area: server;
        

    }

    &__github {
        grid-area: github;

    }

    &__description {
        grid-template-areas: 
        "header header header"
        "description description description"
        "sub-description sub-description sub-description"
        "additional additional additional";

        grid-template-rows: 33.3% 23.85% 23.85% 19%;
        
        row-gap: 1%;
       
        .project__header-container {
            grid-area: header;
        }

        &-subtext {
            grid-area: sub-description;
            text-align: justify;
            // font-size: 2.2rem;
        }
       
        &-text {
            grid-area: description;
            text-align: justify;
        }

        &-study {
            border-top: 1px solid;
            display: flex;
            justify-content: space-between;
            grid-area: additional;
            padding-bottom: 5%;
        }

    }


    &__stack {

        grid-template-areas: 
            "header header header"
            "main-technology libs libs"
            "main-technology libs libs"
            "additional additional additional";

            grid-template-rows: 33.3% 24.85% 24.85% 17%;
           
                li:first-child {
                    font-weight: 700;
                    padding-bottom: 1%;
                }
        
            

            &-main {
                grid-area: main-technology;
            }

            &-libs {
                grid-area: libs;
            }

            &-additional {
                display: flex;
                justify-content: space-around;
                padding-bottom: 5%;
                border-top: 1px solid;
               
                grid-area: additional;
                &:last-child {
                    grid-column: span 3;
                }
                
            }
            
    }
}

.swiper-projects__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-arrows {

    padding: 0 10%;
    cursor: pointer;
    transition: transform  .3s ease, color .3s linear;
    transform: translateX(0px);

    @media screen and (max-width: $screen-sm) {
        padding: 0 5%;
        
    }

    @media screen and (min-width: $screen-lg) {
        &:hover {
            color: $color-link--active;
    
            &:first-child {
                transform: translateX(-5px);
            }
    
            &:last-child {
                transform: translateX(5px);
            }
        }  
    }

    
}




