.section:has(.projects__wrapper) {
    height: 100dvh;
}

.projects {

    &__wrapper {
        row-gap: 20px;
        grid-template-columns: 40%;
        grid-template-rows: 90% 10%;

        @media (max-width:$screen-xxl) {
            grid-template-columns: 50%;
        }
        
        @media (max-width:$screen-xl) {
            grid-template-columns: 45%;
        }

        @media (max-width:$screen-lg) {
            grid-template-columns: 100%;
        }
    }

    &__navigation {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;
        align-items: center;

        &-buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        button {

            &:is(:hover, :focus-visible):not(:disabled) {
                background: $color-selection;
                outline: none;
              }

            
        }



        &-button {
            width: 115px;
            height: 35px;
            border: 1px solid;
            cursor: pointer;
            font-size: 1.5rem;
            padding: 2px;
            background: transparent;
            transition: $transition-common;
        }

        button.projects__navigation-button--active {
            background: $color-selection;
            outline: none;
        }
    }
}

.project {
    cursor: pointer;

    &__button-close {

        &::before {
            cursor: pointer;
            transition: border 0.5s ease-in;
        }  
        
    }

    &__img-container {
        @media (max-height: $screen-sm) and (max-width: $screen-md) {
        max-width: 80%;
        }

        @media (max-height: $screen-sm) and (max-width: $screen-lg) {
            max-width: 45%;
        }
        
        
    }

    

    &__img {
        max-width: 100%;
        max-height: none;
    }



    &__info {
        &-container {
            position: absolute;
            bottom: -125%;
            width: 102%;
            height: 104%;
            display: grid;
            border-radius: 4px;
            background: rgba(255,255,255,.75);
            backdrop-filter: blur(10px);
            transition: .3s;
            // justify-content: center;
            align-items: center;
            cursor: default;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "header header"
            "stack description"
            "server github";


            @media (max-height: $screen-sm) and (max-width: $screen-md) {
                max-width: 80%;
            }
        
            @media (max-height: $screen-sm) and (max-width: $screen-lg) {
                max-width: 47%;
            }

       
            &--opened {
                bottom: 0;
            }

        }

    }

    &__link {
        padding: 0;
        margin: 10%;
        border: 1px solid;
        display:flex;
        justify-content: center;
        cursor: pointer;
        transition: .1s linear;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
            background-color: $color-selection;
        }
    }

    &__button-close {
        font-size: 2em;
    }


    &__header-container {
        grid-area: header;
        display: grid;
        grid-template-columns: 75% 25%;
        align-items: center;
        border: 1px solid;

        h5 {
            font-weight: 700;
            text-decoration: solid;
        }
    }

  
    &__stack {
        grid-area: stack;

        &-list {
            align-self: baseline;
            
            &:last-child {
                grid-column: span 2;
            }
        }

       
    }

    &__server {
        grid-area: server;
        

    }

    &__github {
        grid-area: github;

    }

    &__description {
        grid-template-areas: 
        "header header header"
        "description description description"
        "sub-description sub-description sub-description"
        "additional additional additional";

        grid-template-rows: 33.3% 23.85% 23.85% 19%;
        
        row-gap: 1%;
       
        .project__header-container {
            grid-area: header;
        }

        &-subtext {
            grid-area: sub-description;
            text-align: justify;
            font-size: 2.2rem;
        }
       
        &-text {
            grid-area: description;
            text-align: justify;
        }

        &-study {
            display: flex;
            justify-content: space-between;
            grid-area: additional;
            padding-bottom: 5%;
        }

    }


    &__stack {

        grid-template-areas: 
            "header header header"
            "main-technology libs libs"
            "main-technology libs libs"
            "additional additional additional";

            grid-template-rows: 33.3% 24.85% 24.85% 17%;
           
                li:first-child {
                    font-weight: 700;
                    padding-bottom: 1%;
                }
        
            

            &-main {
                grid-area: main-technology;
            }

            &-libs {
                grid-area: libs;
            }

            &-additional {
                display: flex;
                justify-content: space-around;
                padding-bottom: 5%;
               
                grid-area: additional;
                &:last-child {
                    grid-column: span 3;
                }
                
            }
            
    }
}


