//  poppings
 @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

  html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size      : $font-size-html;

    @media (max-width: $screen-xxl) {
      font-size: $font-size-html - 5%;
    }

    @media (max-width: $screen-xl) {
      font-size: $font-size-html - 12.5%;
    }

    @media (max-width: $screen-lg) {
      font-size: $font-size-html - 14%;
    }

    @media (max-width: $screen-md) {
      font-size: $font-size-html - 17%;
    }

    @media (max-width: $screen-sm) {
      font-size: $font-size-html - 22.5%;
    }
   

    
    

}

body {
  font-size: $font-size-body;
}




//  :not because we need to restrict influnce of the effect on links into burger-menu
.link--active:not(.header__list .link--active) {
  transition: border 0.5s ease-in;
  position  : relative;
  border    : 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $color-main;
      color        : $color-link--active;
    }
}

// so we separate class for links in navigation which will be able only for size > 992px
.header__list .link--active  {
// instead of using js-code with window.innerWidth (etc), we use media with min-width 
  @media (min-width: $screen-lg) and (min-height: $screen-md) {
    transition: border 0.5s ease-in;
    position  : relative;
    border    : 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $color-main;
        color        : $color-link--active;
      }
}
  
}
// despite we duplicating code , eventually we avoid using js code. So it's good for cpu usage 


