@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


  html {
    scroll-behavior   : smooth;
    font-size: $font-size-html;

    @media (max-width: $screen-xxl) {
      font-size: $font-size-html - 5%;
    }

    @media (max-width: $screen-xl) {
      font-size: $font-size-html - 12.5%;
    }

    @media (max-width: $screen-lg) {
      font-size: $font-size-html - 14%;
    }

    @media (max-width: $screen-md) {
      font-size: $font-size-html - 17%;
    }

    @media (max-width: $screen-sm) {
      font-size: $font-size-html - 22.5%;
    }
   

    
    

}

body {
  font-size: $font-size-body;
}


.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.link--active {
  transition: border 0.5s ease-in;
  position: relative;
  border: 1px solid transparent;
}

.link--active:hover {
    border-bottom: 1px solid black;
    color: #353434
}

