  //  poppings
 @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

  html {
    font-family    : "Poppins", sans-serif;
    font-size      : $font-size-html;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    @media (max-width: $screen-xxl) {
      font-size: $font-size-html - 5%;
    }

    @media (max-width: $screen-xl) {
      font-size: $font-size-html - 12.5%;
    }

    @media (max-width: $screen-lg) {
      font-size: $font-size-html - 14%;
    }

    @media (max-width: $screen-md) {
      font-size: $font-size-html - 18%;
    }

    @media (max-width: $screen-sm), (max-height: 600px) and (min-width: 480px)  {
      font-size: $font-size-html - 25.5%;
    }

    
}

body {
  font-size: $font-size-body;
}

button {
  padding: 16px 24px;
  border-radius: 4px;
  background: $color-link;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
  color: $color-burger--open;
  font-size: $font-size-body;
  font-weight: 700;
  transition: $transition-common;

  &:is(:hover, :focus):not(:disabled) {
    background: $color-link--active;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }

  @media screen and (max-width: $screen-md) {
        padding: 7px 24px;
  }

}


::selection {
  background-color: $color-selection;
  color           : $color-main;
}

:is(:link, :visited)::selection  {
  color: $color-secondary;
}


:is(:is(:link, :visited):hover)::selection  {
  color: $color-link;
}

  //  :not because we need to restrict influnce of the effect on links into burger-menu
.link--active:not(.header__list .link--active) {
  transition: border 0.5s ease-in;
  position  : relative;
  border    : 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $color-main;
      color        : $color-link--active;
    }
}

  // so we separate class for links in navigation which will be able only for size > 992px
.header__list .link--active  {
  // instead of using js-code with window.innerWidth (etc), we use media with min-width 
  @media (min-width: $screen-lg) and (min-height: $screen-md) {
    transition: border 0.5s ease-in;
    position  : relative;
    border    : 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $color-main;
        color        : $color-link--active;
      }
}
  
}
  // despite we duplicating code , eventually we avoid using js code. So it's good for cpu usage 


.section {
  height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1%;

  &__wrapper {
    display              : grid;
    grid-template-columns: 25% 45%;
    justify-content      : center;
    justify-items        : center;
    align-items          : center;
    width                : 100%;
    


    @media print {
        top      : 0%;
        transform: translateY(25%);
    }

    @media (max-width: $screen-xxl) {
        grid-template-columns: 30% 45%;
    }

    @media (max-width: $screen-xl) {
        grid-template-columns: 40% 45%;
    }

    @media (max-width: $screen-lg) {
        grid-template-columns: repeat(2, 40%);
    }

    @media (max-width: $screen-md) {
        grid-template-columns: repeat(2, 45%);
    }

}

    &__img-container {
        grid-row: span 2;

        

        @media (max-width: $screen-lg) {
            grid-row     : span 1;
            grid-column  : span 2;
            display      : grid;
            justify-items: center;
            max-width    : 350px;
        }

        @media (max-width: $screen-sm) {
            max-width: 30dvh;
        }

        @media (max-height: 600px) and (min-width: $screen-lg) {
            grid-column: 1;
            grid-row   : 1;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            grid-column: 2;
            max-width    : 300px;
        }

        @media (min-width: $screen-sm) and (max-height: $screen-sm) {
          max-width    : 200px;
      }

    }

    &__img {
        max-width: 100%;
        pointer-events: none;
    }
    
    &__title-container {
        padding: 0 5%;

        @media (max-width: $screen-lg) {
            grid-row     : 2;
            grid-column  : span 2;
            display      : grid;
            justify-items: center;
            text-align   : center;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            grid-row   : 1;
            grid-column: span 1;
            text-align: center;
        }
    }

    &__title {
        font-weight   : 400;
        font-size     : $font-size-h1;
        line-height   : $line-height-h1-h2;
        letter-spacing: $letter-spacing-h1-h2;
        color         : $color-main;
    }

    &__subtitle {
        margin-top    : 5%;
        font-weight   : 400;
        font-size     : $font-size-h2;
        line-height   : $line-height-h1-h2;
        letter-spacing: 0.04em;
        color         : $color-main;


        &--gray {
            color: $color-secondary;
        }

        @media (max-width: $screen-lg) {
            margin-top : 2%;
        }
    }

    &__text-container {
        margin-top : 2%;
        grid-column: 2;

        @media (max-width: $screen-lg) {
            grid-row   : 4;
            grid-column: span 2;
            display    : grid;
            grid-template-columns: 50% 50%;
        }

        @media (max-width: $screen-md) {
            margin-top: 5%;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            grid-column: span 2;
        }

    }

    &__text {
        font-size     : $font-size-text;
        line-height   : $line-height-text;
        letter-spacing: $letter-spacing-text;
        color         : $color-main;
        padding       : 2% 5%;

        @media (max-width: $screen-lg) {
            padding: 3% 3%;
        }

        @media (max-width: $screen-sm) {
            padding: 1% 5%;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            text-align: center;
        }

    }

    &__link {
        font-weight    : 400;
        font-size      : $font-size-text;
        line-height    : $line-height-text;
        letter-spacing : $letter-spacing-text;
        color          : $color-link;
        text-decoration: none;
    }

    &__pointer {
            opacity: 0.9;
            vertical-align:top;
            margin-left: 5px;
            margin-bottom: 5px;
            transition: $transition-common;
            font-size: $font-size-h2;
            color: $color-link;
            user-select: none;
        }

    &__link:hover ~ &__pointer {
          margin-left: 0;
      }


}


  