.social-links {
    position       : fixed;
    z-index        : 5;
    display        : flex;
    bottom         : 2%;
    left           : 0%;
    justify-content: center;
    user-select    : none;

    @media (min-width: $screen-lg) and (min-height: $screen-md) {
        bottom: 50%;
        transform: translateY(50%);
        flex-direction: column;
        left: 0.5%;
    }

    @media (max-width: $screen-lg), (max-height: $screen-md) {

    // slow animation when opening the burger and common animation when closing it
        transition: all 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        opacity   : 0;

        &:not(&--visible) {
            transition: $transition-common;
        }
    }

    @media print {
        display: none;
    }

    &--visible {
        opacity: 1;
    }


    &__item {
        width          : $icon-size;
        height         : $icon-size;
        margin         : 10px;
        box-shadow     : 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius  : 50%;
        font-size      : 25px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-direction : column;
        transition     : all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        position       : relative;
    }

    &__link {
        color: black;
        
       }

    &__github--active:hover,
    &__github--active:hover &__tooltip,
    &__github--active:hover &__tooltip::before {
        background: #333333;
        color     : #ffffff;
    }

    &__linkedin--active:hover,
    &__linkedin--active:hover &__tooltip,
    &__linkedin--active:hover &__tooltip::before {
        background: rgb(10, 102, 194);
        color     : #ffffff;
    }


    &__telegram--active:hover,
    &__telegram--active:hover &__tooltip,
    &__telegram--active:hover &__tooltip::before {
        background: rgb(34, 158, 217);
        color     : #ffffff;
    }

    &__link--active {
        color: currentColor;
    }

    &__tooltip {
        position      : absolute;
        top           : 0;
        right         : -16px;
        font-size     : 14px;
        background    : #ffffff;
        color         : #ffffff;
        padding       : 8px 8px;
        border-radius : 5px;
        box-shadow    : 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity       : 0;
        pointer-events: none;
        transition    : all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        display       : none;
        width         : 80px;
        text-align    : center;
    }

    @media (min-width: $screen-lg) {

        &__tooltip {
            display: inline;
        } 

        &__tooltip:before {
            position  : absolute;
            content   : "";
            height    : 8px;
            width     : 8px;
            background: #ffffff;
            bottom    : -3px;
            left      : 50%;
            transform : translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    
        &__item:hover .social-links__tooltip {
            top           : -45px;
            opacity       : 1;
            visibility    : visible;
            pointer-events: auto;

            // @media (min-width: $screen-lg) and (min-height: $screen-md) {
            //     left: 65px;
            //     top: 10px;
            // }
        }
    
    }

   

    &__link__icon {
        font-size: inherit;
    }

  

}

