.hobbies {

    grid-template-columns: 45% 25%;

    @media (max-width: $screen-xxl) {
        grid-template-columns: 45% 30%;
    }

    @media (max-width: $screen-xl) {
        grid-template-columns: 45% 40%;
    }
    @media (max-width: $screen-lg) {
        grid-template-columns: repeat(2, 40%);
    }

    @media (max-width: $screen-md) {
        grid-template-columns: repeat(2, 48%);
    }


   
        

    &__img-container { 
        grid-column: 2;

        @media (max-width: $screen-md) {
            grid-column: span 2;
            grid-row: 1;
        }

        @media (max-width: $screen-lg) {
            grid-column: span 2;
        }

        @media (max-width: $screen-sm) {
            max-width: 50dvh;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
        }

        @media (min-width: $screen-lg) and (max-height: 600px) {
           
            grid-column: span 2;
        }
        
    }

    &__img {
        clip-path: polygon(20% 0, 85% 0, 85% 100%, 20% 100%, 0 50%);

        @media (max-height: 600px) and (min-width: $screen-sm), (max-width: $screen-lg) {
            clip-path: none;
            border-radius: 50px;
        }

        
    }

    &__title-container {
        grid-row: 1;

        @media (max-width: $screen-lg) {
            grid-row: 2;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            grid-column: span 2;
        }

        @media (max-width: $screen-sm) {
            padding: 3% 0 2% 0;
        }

        @media (min-width: $screen-lg) and (max-height: 600px) {
            grid-row: 2;
        }

        @media (min-width: $screen-lg) and (max-height: 600px), (max-width: $screen-lg) {
            padding: 3% 0 2% 0;
        }
    }

    &__title {
        font-size: $font-size-h3;
    }

    &__text-container {
        grid-column: 1;

        @media (max-height: 600px) and (min-width: $screen-sm) {
            grid-column: span 2;
        }

        @media (max-width: $screen-lg) {
            grid-column: span 2;
        }

        @media (max-height: 600px) and (min-width: $screen-sm) {
            margin-top: 0.5%;
        }
    }

    &__text {
        padding: 0 2%;

        @media (max-width: 600px) and (max-height: $screen-sm) {
            font-size: $font-size-text - 0.8rem;
        }
    }

    &__lists-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
        column-gap: 40px;

        // @media (max-width: $screen-sm) {
        //     grid-template-columns: 45% 45%;
        // }

       
    }

  

    &__item {
        display: grid;
        grid-template-columns: 30% 90%;
        align-items: center;
        justify-content: center;
    }
}



