  // диспетчер подключений

// libs
@import "../../node_modules/swiper/swiper-bundle";
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox";
@import "../fonts/fontello/css/icons";
@import "../fonts/fontello/css/custom-icon-styles";


// base
@import "./base/variables";
@import "./base/reset.scss";
@import "./base/common-styles";
@import "./base/animation";

// blocks

// index.html
@import "../blocks/header-nav/header-nav";
@import "../blocks/social-links/social-links";
@import "../blocks/intro/intro";
@import "../blocks/education/education";
@import "../blocks/interests/interests";
@import "../blocks/videomaking/videomaking";

// experience.html
@import "../blocks/section-swiper/section-swiper";

// projects
@import "../blocks/section-swiper/projects-swiper";

// contacts
@import "../blocks/contacts/contacts";


// service
@import "../blocks/modal/_modal";
