@import url(./reset-min.css);

/* common styles start  */

/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*::before, 
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.link--active {
    transition: border 0.5s ease-in;
  position: relative;
  border: 1px solid transparent;
}

.link--active:hover {
    border-bottom: 1px solid black;
    color: #353434
}

.section__title{
    font-weight: 600;
    font-size: 33px;
    line-height: 139%;
    letter-spacing: 0.02em;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    }

.section__description {
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #000;
        margin: auto 0 0;
    }
    

/* common styles end  */

/* header styles start  */



.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
}

.header__list {
    display: flex;
    margin: 19px 90px 0;
}

.header__item {
    margin: 6px 20px;
}

.header__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #525252;
}


.header-intro {
    display: flex;
}

.intro__title-container {
    margin:128px 66px 182px 96px
}
 
.intro__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 115%;
    letter-spacing: 0.04em;
    color: #000;
}

.intro__subtitle--gray {
    color: #757575;
}

.intro__subtitle {
    margin-top: 50px;
    font-weight: 400;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0.04em;
    color: #000;
}


.intro__img-container {
    padding-right: 110px;
}

.intro__img {
    width: 400px;
    clip-path: circle(50%);
}
 /* header styles end  */


 /* main styles start  */
 .main {
    max-width: 1400px;
    margin: 0 auto;
}



/* projects section start  */

.projects__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.projects__item {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-bottom: 50px;
}

.projects__item:last-of-type {
    margin-bottom: 0px;
}

.project__img-container {
    align-self: center;
    justify-self: center;
}


.project__img {
    width: 600px;
}

.project__info {
    display: flex;
    flex-direction: column;
}

.project__info-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 139%;
    letter-spacing: 0.02em;
    color: #000;
    text-align: center;
}

.project__info-description {
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #000;
    margin: auto 0 0;
    padding: 5px;
}

.project__link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 0 0;
}

.project__link {
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #525252;
    text-decoration: none;
    margin-bottom: 15px;
}

.project__info-description-link {
    color: #525252;
    text-decoration: none;
}




/* projects section end  */


/* about me section start  */

.about-me {
    max-width: 900px;
    margin: 0 auto;
}

.about-me__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.about-me__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #000;
    margin: auto 0 0;
}

.about-me__img {
    width: 300px;
    margin: 30px 0 30px 0 ;
}

.about-me__img:nth-of-type(1) {
    justify-self: end;
    margin-right: 25%;
}

.about-me__img:nth-of-type(2) {
    margin-left: 25%;
}


.about-me__video {

   width: 700px;
   margin: 30px auto 5px;
}

.about-me__video-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #000;
    margin: 0 auto;
    font-style: italic;
    margin-bottom: 60px;
}

/* about me section end  */


/* work experience section start  */
.work-experiense__title {
    font-weight: 400;
    font-size: 27px;
    line-height: 145%;
    letter-spacing: 0.01em;
    color: #000;
    margin: auto 0;
}

.work-experience__before-it {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    margin-bottom: 30px;
}


.work-experience__text  {
    padding-bottom: 15px;
}


.work-experience__img {
    width: 500px;
}

.work-experiense-afterIT-beginning {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.work-experience__text-container{
    margin: 0 auto;
    display: grid;
    
}   

.work-experience__after-it{
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.work-experiense__title-after-it{
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
    
}


.work-experience__subtitle {
    font-weight: 400;
    font-size: 26px;
    line-height: 145%;
    letter-spacing: 0.01em;
    color: #000;
    align-self: start;
    justify-self: center;
}


.work-experience__img {
    justify-self: center;
    grid-column: 2 / span 2;
    margin-bottom: 30px;
    margin-top: 15px;
}

/* work experience section end  */

.contacts {
    max-width: 800px;
    margin: 0 auto;
}

.contacts-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.contacts__info{
    padding-bottom: 20px;
}

.budget-link {
padding: 0 5px 0 5px;
}


.budget-link__img {
    vertical-align: sub;
}

 /* main styles end  */


.footer__info {
    display: flex;
    justify-content: space-between;
    padding: 70px 96px 0 96px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #000;

}


.footer__link {
    color: #525252;
    text-decoration: none;
}


/* font-awesome styles start */



    .fa-brands.fa-youtube {
        color: #c4302b;
        vertical-align: middle;
    }

    .fa-solid.fa-envelope {
        vertical-align: middle;
    }

/*  font-awesome styles end */

/* media queries start */

    
@media screen and (max-width: 1600px) {
.intro__title-container {
    margin: 128px 66px 70px 96px;
}

}

@media screen and (max-width: 1300px) {



.project__img {
    width: 450px;
}

.work-experience {
    margin-right: 50px;
}

.project__link {
    margin-top: 5px;
}

}


@media screen and (max-width: 1105px) {

    .intro__img-container {
        padding-right: 80px;
    }

    .intro__title-container {
        margin: 125px 44px 21px 33px;
    }
   
    }
    

@media screen and (max-width: 1000px) {


.work-experience__img {
    width: 400px;
}


.header-intro {
    flex-wrap: wrap;
}


.intro__title {
    text-align: center;
}

.intro__subtitle {
    margin-top: 15px;
}

.intro__title-container {
    margin: 36px 15px 21px 30px;
}

.header-nav {
   display: block;
}

.header__list {
    justify-content: space-evenly;
}

.header-intro {
    justify-content: center;
}

.wrapper {
    max-width: 800px;
}

.work-experience__after-it {
    margin-bottom: 30px;
}

.footer__info {
    padding: 13px 96px 0 96px;
}

.who-made {
    display: none;
}

.footer__info {
    justify-content: center;
    padding: 0;
}


.project__img-container {
    margin: 10px;
    align-self: flex-start;
}

.project__link {
    padding-right: 6px;
}


}


@media screen and (max-width: 910px) {

    .project__img {
        width: 400px;
    }
   
    .about-me {
        max-width: 740px;
    }


    }
    
  


@media screen and (max-width: 768px) {



    .header__list {
        display: flex;
        margin: 19px auto 0;
        justify-content: space-evenly;
    }

    .intro__title-container {
        text-align: center;
    }

    .intro__img {
        width: 380px;
        
    }

    .intro__img-container {
        margin: 0 auto;
        padding-right: 0;
    }

    .header-intro {
        flex-direction: column;
    }

    .intro__subtitle {
        margin-top: 15px;
    }

    .header-nav {
        display: block;
    }

    
    .section__title {
        margin-bottom: 40px;
        margin-top: 45px;
    }

    .projects__item {
        grid-template-columns: repeat(1, 2fr);
    }


    .project__info-technology {
        margin: auto auto 0;
    }

    .projects__item {
        grid-template-columns: repeat(1, 450px);
        justify-content: center;
    }

    .project__info {
        padding: 5px 12px 0px;
        -webkit-box-shadow: 6px 10px 17px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 10px 17px -1px rgba(0,0,0,0.75);
        box-shadow: 6px 10px 17px -1px rgba(0,0,0,0.75);
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .project__info-title {
        padding: 10px;
    }

    .project__info-description {
        padding-bottom: 10px;
        text-align: justify;
    }

    .header__item {
        margin: 0
    }

.project__link-container {
    padding-bottom: 10px;
}

.about-me {
    max-width: 500px;
    margin: 0 auto;
}
.about-me__img:nth-of-type(1) {
    justify-self: center;
    margin-right: 0;
}

.about-me__img {
    width: 400px;
}

.about-me__img:nth-of-type(2) {
    margin-left: 0;
    justify-self: center;
}

.about-me__video-description {
    margin-bottom: 30px;
}

.section__title {
   margin-top: 30px;
}

.work-experience {
        max-width: 500px;
        margin: 0 auto;
}

.work-experience__before-it {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-bottom: 15px;
}


.work-experience__text-container {
 display: block;
}


.contacts {
    max-width: 400px;
}



}
 
@media screen and (max-width: 500px) {
    .about-me {
        max-width: 400px;
    }

    .work-experience {
        max-width: 400px;
    }

    .project__img {
        width: 350px;
    }

}



 
@media screen and (max-width: 430px) {
    .header__item {
        margin: 0px 0px;
    }

    .intro__title-container {
        margin: 15px 10px 9px 10px;
    }

    .intro__title {
        font-size: 55px;
    }

    .header__list {
        margin: 10px auto 0;
    }

    .intro__img {
        width: 350px;
    }

    .projects__item {
        grid-template-columns: repeat(1, 380px);
    }

    .footer__text {
        font-size: 12px;
    }

    .header__link {
        font-size: 16px;
    }

    .section__title {
        margin-bottom: 30px;
    }
    
    .project__info {
        border: 1px solid;
        padding: 5px;
    }

}

@media screen and (max-width: 395px) {
    .work-experience {
        max-width: 300px;
    }

    .work-experience__img {
        width: 330px;
    }

    .contacts {
        max-width: 300px;
    }

    .footer__text {
        font-size: 10px;
    }

    .projects__item {
        grid-template-columns: repeat(1, 350px);
    }

    .about-me__img {
        width: 335px;
    }

    .about-me {
        max-width: 340px;
    }

    .work-experience__img {
        width: 300px;
    }

}


@media screen and (max-width: 350px)  {
    .header__link {
        font-size: 15px;
    }

    .footer__text {
        font-size: 9px;
    }
}




/* media queries end */