.header {

    &-nav {
        position  : fixed;
        width     : 100%;
        top       : 0;
        min-height: 70px;
        z-index   : 5;

        @media (min-width: $screen-lg) and (min-height: $screen-md) {
            background-color: white;
        }
        
        
        @media print {
            display: none;
        }
    }

    &__list {
        display        : flex;
        padding-top    : 2%;
        padding-bottom : 2%;
        flex-direction : row;
        justify-content: space-evenly;
        transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);;

        @media  (max-width: $screen-lg), (max-height: $screen-md) {
            position        : fixed;
            flex-direction  : column;
            justify-content : center;
            transition      : $transition-common;
            width           : 100%;
            height          : 100%;
            background-color: $color-burger--open;
            top             : -140%;
        }

        &-burger--open {
            top: 0;
        }

        &--fading {
            opacity: 0;
        }
    }
    


    &__item {
        margin : 0.5% 1%;
        padding: 0 0.3%;

        @media (max-width: $screen-lg) {
            margin: 5% 15%;
        }

        @media (max-height: $screen-sm) and (max-width: $screen-sm), (max-width: $screen-md)  {
            margin: 3% 14%;
        }

        @media (max-height: $screen-md) and (min-width: $screen-md), (max-height: 600px) and (min-width: $screen-md), (max-height: $screen-sm) and (max-width: $screen-md )  {
            margin: 0.5% 20%;
        }

    }

    &__link {
        text-decoration: none;
        font-weight    : 400;
        font-size      : $font-size-header;
        line-height    : $line-height-text;
        letter-spacing : $letter-spacing-text;
        color          : $color-link;

        @media (max-width: $screen-lg), (max-height: $screen-md) {
            font-size            : $font-size-h1;
            padding-right        : 5%;
            display              : grid;
            grid-template-columns: 90% 10%;
        }

        

        &-icon {
            color       : $color-main;
            opacity     : 0.85;
            justify-self: end;

            @media (max-width: $screen-lg), (max-height: $screen-md) {
                justify-self: center;
                font-size   : $font-size-header-icon;
    
                &--active {
                    transition: font-size .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                        // link-name interaction with the icon
                    .header__link:hover & {
                        font-size: $font-size-header-icon * 1.1;
                    }
                }
            }

            @media (max-width: $screen-sm), (max-height: $screen-sm)  {
                font-size: $font-size-header-icon - 2rem;
            }
    }

        @media (max-width: $screen-sm), (max-height: $screen-sm) {
            font-size: $font-size-h1 - 2rem;
        }

    }
    

    &__burger {
        display         : none;
        width           : 40px;
        height          : 4px;
        margin          : 50px 80px 0;
        background-color: $color-link;
        transform       : translate(-50%, -50%);
        transition      : $transition-common;
        cursor          : pointer;

        &:hover:not(.header__burger--open) {
            width: 30px;
        }

        &:hover:before, &__burger:hover:after {
            width: 40px;
        }

        &:before, &:after {
            content         : '';
            position        : absolute;
            display         : block;
            width           : 30px;
            height          : 4px;
            left            : 0;
            background-color: $color-link;
            transition      : all .5s;
        }

        &:before {
            top: -12px;
        }
        
        &:after {
            top: 12px;
        }
    
        &.header__burger--open {
        transform: translate(-50%, -50%) rotate(225deg);
        }
        
        &.header__burger--open:before, &.header__burger--open:after {
        top: 0px;
        }
        
        &.header__burger--open:after {
        transform: rotate(90deg);
        width    : 40px;
        }

        @media (max-width: $screen-lg), (max-height: $screen-md) {
            display: block;
            margin : 50px 50px 0;

        }

        @media (max-width: $screen-sm) {
            margin: 50px 55px 0;
        }

        @media (max-height: 600px) and (min-width: $screen-md) {
            margin: 50px 50px 0;
        }

        @media (max-width: $screen-md) and (max-height: $screen-sm) , (max-height: 600px) and (max-width: 600px) {
            margin: 30px 30px 0;
    }

    }

}







