.icon {
    &-youtube-play:before {
        color: #c4302b;
        vertical-align: middle;
    }

    &-dumbbell:before {
        margin-right: .55em;
        font-size: 0.80em;
    }

    &-angle-left,
    &-angle-right {

        &.section__text {
            font-size: 3rem;

        }
    }

    
}


